{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["prettier"],
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "import/prefer-default-export": "off",
    "linebreak-style": "off"
  }
}
